body {
    font-family: 'Roboto', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: #667685;
}
.headingcolor {
    color: #667685;
    font-size: 16px;
    font-weight: 300;
}
.color {
    color: rgb(94, 94, 94);
    font-size: 20px;
    line-height: 89px;
    padding-left: 11px;
    position: relative;
}
.col-md-3,
.col-md-9,
.col-md-12 {
    padding-left: 3px !important;
    padding-right: 0px !important;
}
.margin {
    margin-top: 20px;
}
.textstyle {
    margin-top: -18px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    margin-left: 24px;
}
.minus {
    width: 18px;
    height: 2px;
    background-color: #007cea;
    margin: 3px 0;
}
td {
    color: #667685;
    font-size: 13px;
}
.table>thead>tr>th {
    border-bottom: 1px solid #007AFF;
    padding: 15px !important
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding-left: 15px;
    padding-right: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
}
