body {
    font-family: Roboto;
}
.headingcolor {
    color: rgb(74, 74, 74);
    font-size: 16px;
}
.color {
    color: rgb(94, 94, 94);
    font-size: 20px;
    font-weight: 900;
    line-height: 89px;
    position: relative;
    color: rgb(, 94, 94);
    margin-left: 0px;
}
.margin {
    margin-top: 20px;
}
.textstyle {
    margin-top: -18px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    margin-left: 24px;
}
.minus {
    width: 18px;
    height: 2px;
    background-color: #007cea;
    margin: 3px 0;
}
