body {
    font-family: 'Roboto', sans-serif;
}
.headingcolor {
    color: #707070;
    font-size: 16px;
}
.color {
    color: rgb(94, 94, 94);
    font-size: 20px;
    font-weight: 900;
    line-height: 89px;
    position: relative;
    color: rgb(, 94, 94);
    margin-left: 0px;
}
.margin {
    margin-top: 20px;
}
.textstyle {
    margin-top: -18px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    margin-left: 24px;
}
.minus {
    width: 18px;
    height: 2px;
    background-color: #007cea;
    margin: 3px 0;
}
td {
    color: #707070;
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
}
.table>thead>tr>th {
    border-bottom: 1px solid #007AFF;
    padding: 15px !important
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px;

}

/*START login css*/
.col-md-5 {
    width: 42%;
    margin-left: 29%;
    margin-right: 29%;
}
h3 {
    opacity: 0.8;
    margin-bottom: 35px;
    margin-left: 5;
}
.loginbox {
    border: 1px solid #007AFF;
    height: 547px;
}
.signin {
    font-size: 25px;
    text-align: center;
    line-height: 41px;
    color: #667685;
}
form {
    margin-top: 25%;
}
md-checkbox.md-checked .md-ink-ripple {
    color: blue;
}
md-content {
	background-color: white;
	overflow: hidden;
}
.md-block {
    position: relative;
    margin-right: 5px;
}
.md-block input {
    padding-left: 30px;
    margin-top: 3px;
    margin-right: 10px !important;
    font-size: 10px;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    padding-top: 0px;
    color: #007AFF;
}
.md-block input:focus {
    border-color: #007AFF !important;
    color: black;
}
.md-block label {
    font-size: 10px;
    margin-bottom: 0px;
}
.form-icon {
    position: absolute;
    pointer-events: none;
    padding-bottom: 3px !important;
    opacity: 0.3;
}
.form-icon:focus {
    background-color: inherit;
}
.login {
    background-color: #007AFF !important;
    font-size: 18px;
    opacity: 0.9;
    color: white !important;
    border-radius: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 50px !important;
    width: 100%;
    height: 70px;
    border-radius: -20px;
    border: 0;
    font-weight: bold;
}
.md-button.md-default-theme[disabled],
.md-button[disabled] {
    background-color: #9B9B9B !important;
    color: white !important;
}
md-input-container.md-icon-left {
    padding-left: 0px !important;
    padding-right: 0;
}
md-checkbox .md-label {
    font-size: 12px !important;
}
md-checkbox.md-checked.blue .md-icon {
    background-color: #007AFF;
}
md-checkbox {
    margin-left: 5px !important;
    opacity: 0.7;
}
@media (min-width: 558px) and (max-width: 838px) {
    .col-md-5 {
        width: 60%;
        height: 557px;
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media only screen and (max-width: 557px) {
    .col-md-5 {
        width: 90%;
        height: 557px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
/*END login css*/
/*START template css*/
.md-subheader .md-subheader-content {
    display: block;
    color: #667685;
    font-size: 26px !important;
    padding: 40px;
    padding-top: 30px;
}
md-list-item p.Active {
    color: #1F8AFD;
}
md-list-item .child.Active {
    color: #1F8AFD;
}
md-list-item:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}
md-icon.md-default-theme {
    color: #1F8AFD !important;
    opacity: 0.6;
}
md-icon.arrow {
    color: #1F8AFD !important;
    opacity: 0.6;
}
p {
    color: #667685;
}
.child {
    color: #667685;
    margin-left: 55px;
}
a.logout:hover,
a.logout:focus {
    text-decoration: none;
    color: #667685;
}
a.logout {
    font-size: 14px;
    color: #667685;
    text-decoration: none;
}
md-list-item .Active {
    color: black;
}
md-progress-circular path {
    stroke: #1F8AFD !important;
}
