<div class="container margin">
   <div class="minus"> </div>
   <div class="minus"></div>
   <div class="minus"></div>
   <div class="textstyle">All Outlets</div>
</div>
<div class="container">
   <div class="col-sm-12">
      <div style="margin-top: 60px;">
         <div class="color">{{tabledetails.tabletitle}}</div>
         <table class="table table-condensed">
            <thead>
               <tr>
                  <th class="headingcolor" ng-repeat="data in tabledetails.values">{{data}}</th>
                  <th><a>{{tabledetails.alink.Text}}
                     </a>
                  </th>
                  <th  ng-if="data.Type=='SUBMIT'" ng-repeat="data in tabledetails.button">
                     <button type="submit " class="btn btn-primary"> {{data.Type}}
                  </th>
                  </th>
               </tr>
            </thead>
         </table>
      </div>
   </div>
</div>
</div>
