.editoutlet{
	background-color: rgba(221, 221, 221, 0.16);
	margin-left:-18px;    width: 102%;
	padding-bottom: 17px;
	color: grey !important;
	margin-top: 20px;
}
.editOutletHeader{
	margin-top:60px !important;
	font-weight:bold;
	/*margin-left:-25px;*/
}
.outletPoint{
	font-size:18px;
	margin-top:5px;
	margin-left: -15px
}
.outletPoint2{
	font-size:18px;
	margin-top:5px;
	margin-left: -2px
}
.points{
	font-size: 11px;
	font-weight: normal;
	color: black;
	opacity: 0.7;
}
.assign{
	font-weight:none;
	margin-top:8px;
	float:left;
	padding-left: 0px;
	margin-left: -10px
}
.assignDropdown{
	margin-left: -44px;
}
.saveBtn{
	padding-right:0px;
}
.save{
	width:100px; background-color:lightgrey;
}
.membershipForm{
	margin-top:0px;
	background-color:#FCFCFC;
	color: grey;
	padding-left: 24px;
    margin-left: -9px;
}
.formArea{
	width:27%;
}
.passInput{
	padding:0px;
	margin:0px;
}
.passBtn{
	padding:0px;
	margin:0px;
}
.inputForm{
	 /*width:100% ;*/
	 border-right:none;
	 border-bottom-right-radius:0px;
	 border-top-right-radius:0px;
}
.inputBtn{
	font-size:8.5px;
	height: 34px;
	/*font-weight: bold;*/
	/*padding:3px;*/ opacity: 0.8;
	min-width: 100%;
	/*margin-left:-3px;*/
	background-color:lightgrey;
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}
.name{
	margin-top:60px
}
.membership{
	margin-left:40px;
}
.radioBtn{
	padding: 0px;
	/*margin-left: -15px;*/
}
.option{
	padding: 5px;
}
.monthTarget{
	margin-left: -15px !important;
}
.tableTarget{
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.historyDetails{
	margin-top:20px;
	/*margin-left: -15px !important;*/
}
.all{
	width:100px;
}
a.targetlinks{
	font-size: 12px;
	font-weight: bold;
	color: #007AFF;
	cursor: pointer;
	text-decoration: none;
}
a.targetlinks:hover{
	color: #007AFF;
	cursor: pointer;
	text-decoration: none;
}
.bold{
	font-size: 18px;
	font-weight: bold;
	color: black;
	margin-top: -8px;
    margin-bottom: 0px;
}
md-radio-group:not([disabled]).md-primary .md-on{
	background-color: #007AFF !important;
}
md-radio-group:not([disabled]).md-primary .md-checked .md-off{
	border-color: #007AFF !important;
}
.modalmargin{
	border:2px solid grey;
	margin-top: 150px;
}
h5{
	font-weight: bold !important;
	font-size: 13px !important;
	color: grey !important;
}
h6.head6{
	margin-bottom: 2px !important;
	color: grey !important;
}
.form-control.rebatetext{
	width: 100px !important;
	float: right;
}
.rebate{
	float: right;
}
