.editoutlet{
	background-color: #F7F7F8;
	margin-left:-18px;
	padding-bottom: 17px;
	color: grey !important;
}
.headStyle {
    margin-top: -18px;
    color: rgb(74, 74, 74);
    font-size: 13px;
    font-weight: bold;
    margin-left: 24px;
    padding-bottom: 3%;
    padding-left: 5px;
}
.headertop{
	background-color: rgb(250,250,250);
	padding-top: 20px;
}
.editOutletHeader{
margin-top: 16px !important;
    font-weight: bold;
    padding-top: 19px;
    background-color: rgb(250,250,250);
}
.outletPoint{
	font-size:17px;
	
	margin-left: -15px
}
.outletPoint2{
	font-size:18px;
	margin-top:5px;
	margin-left: -2px;
	background-color:rgb(250,250,250);
}
.points{
	font-size: 10px;
	font-weight: normal;
	color: black;
	opacity: 0.7;
}
.assign{
	font-weight:none;
	margin-top:8px;
	float:left;
	padding-left: 0px;
	margin-left:4px;
}
.assignDropdown{
	margin-left: -44px;
}
.saveBtn{
	padding-right:0px;
}
.save{
	width:100px;
	background-color:lightgrey;
	text-decoration:none;
	font-size: 13px;
	height: 35px;
}
.save:hover{
	width:100px !important;
	background-color:lightgrey !important;
	border-color:lightgrey !important;
	
}
.membershipForm{
	margin-top:1px;
	background-color:#FCFCFC;
	color: grey;   
	padding-left: 20px;
	min-height: 480px;

}
.formArea{
	width:28%;
}
.passInput{
	padding:0px;
	margin:0px;
}
.passBtn{
	padding:0px;
	margin:0px;
}
.inputForm{
	 /*width:100% ;*/
	 border-right:none;
	 border-bottom-right-radius:0px;
	 border-top-right-radius:0px;
}
.inputBtn{
	font-size:8.5px;
	height: 34px;
	opacity: 0.8;
	padding:0px;
	min-width: 100%;
	/*margin-left:-3px;*/
	background-color:lightgrey;
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}
.name{
	margin-top:60px
}
.membership{
	margin-left:40px;
}
.radioBtn{
	padding: 0px;
	/*margin-left: -15px;*/
}
.option{
	padding: 5px;
}
.monthTarget{
	margin-left: -15px !important;
}
.tableTarget{
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.historyDetails{
	margin-top:20px;
	/*margin-left: -15px !important;*/
}
.all{
	width:100px;
}
a.targetlinks{
	font-size: 12px;
	font-weight: bold;
	color: #007AFF;
	cursor: pointer;
	text-decoration: none;
}
a.targetlinks:hover{
	color: #007AFF;
	cursor: pointer;
	text-decoration: none;
}
.bold{
	font-size: 18px;
	font-weight: bold;
	color: black;
	margin-top: -8px;
    margin-bottom: 0px;
}
md-radio-group:not([disabled]).md-primary .md-on{
	background-color: #007AFF !important;
}
md-radio-group:not([disabled]).md-primary .md-checked .md-off{
	border-color: #007AFF !important;
}
.modalmargin{
	border:2px solid grey;
	margin-top: 150px;
}
h5{
	font-weight: bold !important;
	font-size: 13px !important;
	color: grey !important;
}
h6.head6{
	margin-bottom: 2px !important;
	color: grey !important;	
    font-weight: bold;
    font-size: 11px;
        letter-spacing: 0.5px;
}
.form-control.rebatetext{
	width: 100px !important;
	float: right;
}
.rebate{
	float: right;
}
