
.skuleftmgn {
    padding-bottom: 4%;
    padding-right: 0px !important;
    background-color: #FCFCFC !important;
    padding-top: 2%;
    margin-top: 0px!important;
}
.labelstyle {
    margin-top: 5%;
    width: 100%;
    font-size: 16px;
    color: rgb(102, 118, 133);
    font-weight: 500;
}
.skutextstyle {
    margin-top: -18px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    margin-left: 24px;
    padding-bottom: 1%;
    padding-left: 5px;
}
.labelstyle1 {
    margin-top: 1%;
    width: 100%;
    font-size: 16px;
    color: rgb(102, 118, 133);
    font-weight: 500;
}
.subHdng {
    font-weight: 900;
    font-size: 20px;
    line-height: 89px;
    padding-left: 11px;
    position: relative;
    border-radius: 5px;
}
.shift {
    padding-left: 1px;
}
.inputstyle {
    height: 42px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
}
.btna {
    background-color: #4A4A4A;
    width: 90%;
    padding-left: 10px;
    padding-right: : 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    font-size: 10px;
    border-radius: 3px!important;
}
.btns {
    width: 90%;
    padding-left: 10px;
    padding-right: : 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1F8AFD;
    color: #FFF;
    font-size: 10px;

}
.parastyle {
    margin-top: 6%;
    font-size: 12px;
    color: rgb(102, 118, 133);
}
.headingstyle {
    font-size: 14px!important;
    margin-left: 15%;
    font-weight: 500;
}
.btns:hover {
    background-color: #1F8AFD!important;
}
.btna:hover {
    background-color: #4A4A4A!important;
}
.skubckground {
    background-color: #F7F7F8;
    padding-right: 0px!important;
    margin-left: -18px!important;
}
.glypsize{
  font-size:10px;
}
.dropdownpadding{
  padding-right:2px;
}
