
.brandleftmgn {
    padding-bottom: 2%;
    padding-right: 0px !important;
    background-color: #FCFCFC !important;
    padding-top: 2%;
    margin-top: 0px!important;

}
.brandlabelstyle {
	margin-top: 5%;
	width: 100%;
	font-size: 14px;
	color: rgb(102, 118, 133);
	font-weight: 500;
	margin-bottom: 10px;
	letter-spacing: 0.4px;
}
.brandtextstyle {
	margin-top: -16px;
    color: grey;
	font-size: 13px;
	letter-spacing: 0.5px;
	margin-left: 24px;
	padding-bottom: 0%;
	padding-left: 5px;
}

.subHdng {
	font-weight: 900;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 75px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 23px;
	color: dimgrey;
	/*margin-bottom: -40px;*/
	position: relative;
	background-color: rgba(247, 247, 248, 0.54);
}

.brandinputstyle {
	height: 41px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
    margin-bottom: -15px;
}
.btna {
    background-color: #4A4A4A !important;
    width: 90%;
	font-weight: bold;
	padding: 11px;
	letter-spacing: 1px;
    color: #FFF;
    font-size: 10px;
    border-radius: 4px!important;
	/*border-color: white !important;*/
}
.btns {
    width: 90%;
	letter-spacing: 1px;
	font-weight: bold;
    padding: 9px;
	letter-spacing: 1px;
    background-color: #007AFF;
    color: #FFF;
    font-size: 11px;
    border-radius: 4px!important;
	/*border-color: white !important;*/
}


.btns:hover {
    background-color: #007AFF!important;
	color: white !important;
	border-color: #007AFF !important;
}
.btna:hover {
    background-color: #4A4A4A!important;
	color: white !important;
}
.brandbckground {
    background-color: #F7F7F8;
    padding-right: 0px!important;
    margin-left: -18px!important;
}
