.marginRight {
	margin-right: -9%;
    margin-top: 13%;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: #1F8AFD;
    text-decoration: none !important;
    font-weight: 300;
    background-color: #FFFFFF;
    backgroynd-color: grey;
    /* padding-left: 1%; */
    padding-top: 5%;
    margin-left: 69px;
    padding-bottom: 5%;
    /* padding-right: 2%; */
    border-radius: 5px;
}
.color{
	    margin-bottom: 0px !important;
}
.linkWithPadding {
    width: 113px;
    height: 35px;

    padding-right:38px;
    padding-left:38px;
    padding-top:9px;
    padding-bottom:9px;
        border: 1px solid #1F8AFD;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    color: #1F8AFD;
}
a:focus,
a:hover {
    color: #1F8AFD;
}
