.marginRight {
    margin-right: 5%;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #1F8AFD;
    text-decoration: none !important;
}
.linkWithPadding {
    width: 113px;
    height: 35px;
    padding: 9px 51px;
    border: 1px solid #1F8AFD;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
    color: #1F8AFD;
}
a:focus,
a:hover {
    color: #1F8AFD;
}
