.btnpadding {
    padding: 8px 55px;
    background-color: rgb(219, 219, 219);
    border-color: rgb(219, 219, 219);
    margin-right: 25px;
}
h6 {
    color: grey !important;
}
.btn:hover {
    background-color: rgb(219, 219, 219) !important;
    border-color: rgb(219, 219, 219) !important;
}
.btnpadding1 {
    color: #1F8AFD;
    background-color: white;
    border: 0px;
    border-color: rgb(219, 219, 219);
    margin-right: 45px;
}
