<div class="col-md-12 bckground">

 <div class="col-md-12  margin leftmgn">
   <div class="minus"> </div>
   <div class="minus"></div>
   <div class="minus"></div>
   <div class="textstyle">OUTLET:Details</div>
 </div>

<div class="col-md-12 leftmargin1">
<div style="margin-top: 20px; background-color:#FCFCFC;" >
   <form name="form" ng-submit="addOutletCtrl.save(outlet)"novalidate>
      <div> <button class="btn btn-primary pull-right btnpadding" ng-disabled="form.$invalid">SAVE</button>
      </div>
      <br><br><br><br>
      <div class="col-md-12 leftmgn">
         <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error' : form.bat_id.$invalid && !form.bat_id.$pristine }">
               <h6>BAT ID :</h6>
               <input type="text" class="form-control" name="bat_id" ng-model="outlet.bat_id" required>
               <span ng-show="form.bat_id.$dirty && form.bat_id.$error.required" class="help-block">Bat Id is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : form.mem_no.$invalid && !form.mem_no.$pristine }">
               <h6>Membership Number:</h6>
               <input type="number" class="form-control" name="mem_no" ng-model="outlet.membership_number" required>
               <span ng-show="form.mem_no.$dirty && form.mem_no.$error.required" class="help-block">Membership Number is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : form.pwd.$invalid && !form.pwd.$pristine }">
               <h6>Password:</h6>
               <input type="password" class="form-control" name="pwd" ng-model="outlet.password" required>
               <span ng-show="form.pwd.$dirty && form.pwd.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group" ng-class="{ 'has-error' : form.f_name.$invalid && !form.f_name.$pristine }">
                     <h6>First Name</h6>
                     <input type="text" class="form-control" name="f_name" ng-model="outlet.first_name" required>
                     <span ng-show="form.f_name.$dirty && form.f_name.$error.required" class="help-block">First Name is required</span>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group" ng-class="{ 'has-error' : form.l_name.$invalid && !form.l_name.$pristine }">
                     <h6>Last Name</h6>
                     <input type="text" class="form-control" name="l_name" ng-model="outlet.last_name" required>
                     <span ng-show="form.l_name.$dirty && form.l_name.$error.required" class="help-block">Last Name is required</span>
                  </div>
               </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
               <h6>Email</h6>
               <input type="text" class="form-control"  name="email" ng-model="outlet.email" ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/"  required>
               <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
               <span ng-show="form.email.$error.pattern" class="help-block">Enter valid Email</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : form.outlet_name.$invalid && !form.outlet_name.$pristine }">
               <h6>Outlet Name</h6>
               <input type="text" class="form-control" name="outlet_name" ng-model="outlet.outlet_name" required>
               <span ng-show="form.outlet_name.$dirty && form.outlet_name.$error.required" class="help-block">Outlet Nmae is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : form.dob.$invalid && !form.dob.$pristine }">
               <h6>Date Of Birth</h6>
               <input type="date" class="form-control" name="dob" style="width: 100%;" ng-model="outlet.birthday" required>
               <span ng-show="form.dob.$dirty && form.dob.$error.required" class="help-block">Date of Birth is required</span>
            </div>
   </form>
   </div>
   <div class="col-md-6" style="padding-left: 30px;">
   <h5  class="headingColor">  Membership Type</h5>
   <md-radio-group ng-model="outlet.membership_id" class="md-primary">

   <div class="col-md-3" ng-repeat="radiolabel in addOutletCtrl.radioData">
   <md-radio-button ng-value="radiolabel.value">
   {{ radiolabel.label }}
   </md-radio-button>
   </div>

   </md-radio-group>

   </div>
   <div class="col-md-2" style="padding-left:0px;">
   <h5 class="headingColor">Rebate Rate (1 point)</h5><input type="text" class="form-control">
   </div>
   </div>
</div>
</div>
</div>
