<div class="col-md-12 brandbckground">
   <div class="col-md-12  margin brandleftmgn">
      <div class="minus"> </div>
      <div class="minus"></div>
      <div class="minus"></div>
      <div class="brandtextstyle">ADD BRAND :</div>
   </div>
   <div class="col-md-12 leftmargin1">
      <div style="margin-top: 20px;  background-color:#FCFCFC;">
         <div class="subHdng">
            EDIT BRAND
         </div>
         <form name="form" ng-submit="editBrandCtrl.save(editBrandCtrl.brand)" novalidate>
            <br>
            <div class="col-md-12 brandleftmgn" style="margin-bottom: 20px;">
               <div  ng-show="editBrandCtrl.errmsg" class="alert alert-danger">
                  <span>{{editBrandCtrl.errmsg}}</span>
               </div>
               <div class="col-md-5">
                  <div class="form-group" ng-class="{ 'has-error' : form.p_name.$invalid && !form.p_name.$pristine }">
                     <label  class="brandlabelstyle">Brand Name (Name)</label>
                     <input type="text" class="form-control brandinputstyle"  ng-model="editBrandCtrl.brand.brandname" name="p_name" required>
                     <span ng-show="form.p_name.$dirty && form.p_name.$error.required" class="help-block">Product Name is required</span>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : form.bat_id.$invalid && !form.bat_id.$pristine }">
                     <label  class="brandlabelstyle" style="margin-top:6%;"> BAT ID(as per your sales data)</label>
                     <input type="text" class="form-control brandinputstyle" ng-model="editBrandCtrl.brand.bat_id" name="bat_id" required>
                     <span ng-show="form.bat_id.$dirty && form.bat_id.$error.required" class="help-block">Bat ID  is required</span>
                  </div>
               </div><br>

 		   <div class="col-md-12">
             <div class="col-md-6 pull-right" style="margin-top:17%; padding-left:11%;">
                <div class="col-md-5" style="margin-left: 30px;"> <input type="button" class="btn btn-default btna" value="CANCEL" ng-click="editBrandCtrl.back()" ></div>
                <div class="col-md-5" style="margin-left: -12px;"><input type="submit" class="btn btn-primary btns" value="ADD/SAVE"  ></div>
             </div>
 		</div>
 	</div>
         </form>
      </div>
   </div>
</div>
