

.assignTME{
	border:2px solid grey;
	margin-top: 20px;
}
.down{
	margin-top: 15px;
}
.top{
	margin-top:30px;
}
.inputPop{
	height: 50px;
}
.btnPop{
	height:45px;
	margin-bottom: 30px;
}
.btnPop:hover{
	background-color: lightgrey;
}
.unassign{
	color: red;
	text-decoration: none;
	border: 1px solid red;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 4px;
}
.unassign:hover{
	color: red;
	text-decoration: none;
}
.assignBtn{
	background-color: #007AFF;
	font-size: 11px;
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	border: none;

}
.assignBtn:hover{
	background-color: #007AFF;
	border: none;
}
.assignCheckbox{
	overflow-y: scroll;
	height:200px;
	margin-left: 10px
}
.inlineblock{
	/*display: inline;*/
	min-width: 150px;

}
.inlineright{
	/*min-width: 100px;*/
}
