<div class="col-md-12 editoutlet">
   <div class="col-md-12 margin">
      <div class="minus"> </div>
      <div class="minus"></div>
      <div class="minus"></div>
      <div class="textstyle">OUTLET:Details {{tmeEditCtrl.tme.id}}</div>
   </div>
   <form name="form" novalidate>
      <div class="col-md-12 editOutletHeader">
         <div class="col-md-9 outletPoint">
            ID: {{tmeEditCtrl.tme.id}}
         </div>
         <div class="col-md-3 saveBtn">
            <button class="btn btn-default pull-right save"  ng-click="tmeEditCtrl.update(tmeEditCtrl.tme)">Save</button>
         </div>
      </div>
      <div class="col-md-12 membershipForm">
         <div class="row">
            <div class="col-md-4 formArea">
               <div class="form-group">
                  <h6>BAT ID :</h6>
                  <input type="text" class="form-control"  value="" ng-model="tmeEditCtrl.tme.bat_id" disabled>
               </div>
               <div class="form-group">
                  <h6>Password:</h6>
                  <div class="col-md-7 passInput">
                     <input type="password" class="form-control inputForm" value="" ng-model="tmeEditCtrl.tme.password">
                  </div>
                  <div class="col-md-5 passBtn">
                     <input type="button" class="btn btn-default inputBtn" value="change password">
                  </div>
               </div>
               <div class="row name">
                  <div class="col-md-6">
                     <div class="form-group">
                        <h6>First Name</h6>
                        <input type="text" class="form-control" id="usr" value="" ng-model="tmeEditCtrl.tme.first_name">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <h6>Last Name</h6>
                        <input type="text" class="form-control" id="us1r" value="" ng-model="tmeEditCtrl.tme.last_name">
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <h6>Email</h6>
                  <input type="text" class="form-control" ng-model="tmeEditCtrl.tme.email" disabled>
               </div>
               <div class="form-group">
                  <h6>Mobile Number</h6>
                  <input type="text" class="form-control"  ng-model="tmeEditCtrl.tme.mobile_no">
               </div>
            </div>
            <div class="col-md-8 tme">
               <div class="col-sm-12">
                  <h5>Outlets:</h5>
               </div>
               <div class="col-md-12 ">
                  <table class="table tmeEdit" >
                     <thead>
                        <tr>
                           <th>ID</th>
                           <th>BAT ID</th>
                           <th>Outlet Name</th>
                           <th>Points</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody >
                        <tr ng-repeat="data in tmeEditCtrl.outlets">
                           <td>{{data.id}}</td>
                           <td>{{data.bat_id}}</td>
                           <td>{{data.outlet_name}}</td>
                           <td>{{data.points_value}}</td>
                           <td ><a class="unassign" ng-click="tmeEditCtrl.unassign(data.id)">Unassign</a></td>
                        </tr>
                     </tbody>
                  </table>
                  <button type="button" class="btn btn-primary assignBtn" ng-click="tmeEditCtrl.assign('ALL')">Assign outlets</button>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
<div ng-include="'components/tmeEdit/assignTme.html'"></div>
