.editoutlet{
	background-color:rgba(221, 221, 221, 0.31);
	padding-left: 0px !important;
	padding-right: -5px !important;
}
.editOutletHeader{
	margin-top:45px;
	font-weight:bold;
	margin-left:-25px;
}
.outletPoint{
	font-size:18px; margin-top:5px;
}
.points{
	font-size: 11px;
	font-weight: normal;
	color: black;
	opacity: 0.7;
}
.assign{
	font-weight:none; margin-top:8px;float:left;padding-left: 0px;
}
.assignDropdown{
	margin-left: -44px;
}
.saveBtn{
	padding-right:0px;
}
.membershipForm{
	margin-top:20px; background-color:#FCFCFC;
}
.formArea{
	width:27%;
}
.passInput{
	padding:0px;margin:0px;
}
.inputForm{
	 width:100% ;border-right:none;border-bottom-right-radius:0px;border-top-right-radius:0px;
}
.passBtn{
	padding:0px;margin:0px;
}
.inputBtn{
	font-size:9px; height: 34px; padding:3px;margin-left:-3px; background-color:lightgrey;	border-bottom-left-radius:0px;border-top-left-radius:0px;
}
.name{
	margin-top:60px
}
.membership{
	margin-left:40px;
}
.radioBtn{
	padding: 0px;
	margin-left: -15px;
}
.option{
	padding: 5px;
}
