<div class="col-md-12 tmebckground">
 <div class="col-md-12  margin tmeleftmgn">
   <div class="minus"> </div>
   <div class="minus"></div>
   <div class="minus"></div>
   <div class="textstyle">TME:Details</div>
</div>
<div class="col-md-12 leftmargin1">
  <div style="margin-top: 20px;background-color:#F7F8F7;">

   <form name="form" novalidate>
      <div> 
        <a class="pull-right linkpadding" type="submit"  ng-click="submitted=true" ng-submit="addTmeCtrl.save(tme)"><center>SAVE</center></a>
      </div>
      <br><br><br><br>
    </div>
      <div class="col-md-12" style="background-color:#FCFCFC;">
         <div class="col-md-4">
            <div class="form-group" ng-class="{true: 'has-error'} [submitted && form.bat_id.$invalid]">
               <h6>BAT ID :</h6>
               <input type="text" class="form-control" name="bat_id" ng-model="tme.bat_id" ng-change="addTmeCtrl.change()" required/>
               <span ng-show="submitted && form.bat_id.$error.required" class="help-block">Bat Id is required</span>
            </div>
            <div class="form-group" ng-class="{true:'has-error'}  [submitted && form.pwd.$invalid]">
               <h6>Password:</h6>
               <input type="password" class="form-control" name="pwd" ng-model="tme.password" ng-change="addTmeCtrl.change()" required>
               <span ng-show="submitted && form.pwd.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group" ng-class="{true:'has-error'}[submitted && form.f_name.$invalid]">
                     <h6>First Name</h6>
                     <input type="text" class="form-control" name="f_name" ng-model="tme.first_name" ng-change="addTmeCtrl.change()" required>
                     <span ng-show="submitted && form.f_name.$error.required" class="help-block">First Name is required</span>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group" ng-class="{true:'has-error'} [submitted &&form.l_name.$invalid]">
                     <h6>Last Name</h6>
                     <input type="text" class="form-control" name="l_name" ng-model="tme.last_name" ng-change="addTmeCtrl.change()" required>
                     <span ng-show="submitted && form.l_name.$error.required" class="help-block">Last Name is required</span>
                  </div>
               </div>
            </div>
            <div class="form-group" ng-class="{true:'has-error'}[submitted && form.email.$invalid]">
               <h6>Email</h6>
               <input type="text" class="form-control" ng-change="addTmeCtrl.change()" name="email" ng-model="tme.email" ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/"  required>
               <span ng-show="submitted && form.email.$error.required" class="help-block">Email is required</span>
               <span ng-show="form.email.$error.pattern" class="help-block">Enter valid Email</span>
            </div>
            <div class="form-group" ng-class="{true: 'has-error'} [submitted && form.number.$invalid]">
               <h6>Mobile Number</h6>
               <input type="text" class="form-control"  name="number" ng-model="tme.mobile_no"  ng-change="addTmeCtrl.change()" required>
               <span ng-show="submitted && form.number.$error.required" class="help-block">Number is required</span>
            </div>
   </form>
   </div>
   </div>
</div>

</div>
