<md-list class="col-md-3">
    <md-subheader class="header">Max Admin
        <br>
        <br> <a class="logout" ui-sref="login">Logout</a>
    </md-subheader>

    <md-list-item>
        <md-icon class="md-default-theme material-icons">home</md-icon>
        <p ng-class="{ Active: template.isActive('/')}">Home</p>
    </md-list-item>

    <md-list-item ng-click="template.Open('outlet')">
        <md-icon class="md-default-theme" class="material-icons">insert_drive_file</md-icon>
        <p ng-class="{ Active: template.isActive('/outletViewTable')||template.isActive('/addOutlet')}">Outlets</p>
        <md-icon class="arrow" ng-show="template.arrowOutlet">keyboard_arrow_right</md-icon>
        <md-icon class="arrow" ng-hide="template.arrowOutlet">keyboard_arrow_up</md-icon>
    </md-list-item>

    <md-list-item ui-sref="menuTemplate.outletViewTable" ng-show="template.OpenOutlet">
        <span class="child" ng-class="{ Active: template.isActive('/outletViewTable')}">View Outlet</span>
    </md-list-item>

    <md-list-item ui-sref="menuTemplate.addOutlet" ng-show="template.OpenOutlet">
        <span class="child" ng-class="{ Active: template.isActive('/addOutlet')}">Add Outlet</spam>
  	</md-list-item>

    <md-list-item ui-sref="menuTemplate.rebate">
        <md-icon class="md-default-theme" class="material-icons">supervisor_account</md-icon>
		<p ng-class="{ Active: template.isActive('/rebate')}">Rebate Requests</p>
    </md-list-item>

    <md-list-item ui-sref="menuTemplate.campaings">
        <md-icon class="md-default-theme" class="material-icons">account_balance_wallet</md-icon>
		<p ng-class="{ Active: template.isActive('/campaigns')}">Campaigns</p>
	</md-list-item>


    <md-list-item ui-sref="menuTemplate.uploadData">
        <md-icon class="md-default-theme" class="material-icons">face</md-icon>
		<p ng-class="{ Active: template.isActive('/uploadData')}">Upload Data </p>
    </md-list-item>

    <md-list-item ng-click="template.Open('brand')">
        <md-icon class="md-default-theme" class="material-icons">face</md-icon>
		<p  ng-class="{ Active: template.isActive('/SKU')||template.isActive('/brands')||template.isActive('/promotion')}">Brands</p>
		<md-icon class="md-secondary arrow" ng-show="template.arrowBrand" style="color:blue">keyboard_arrow_right</md-icon>
		<md-icon class="md-secondary arrow" ng-hide="template.arrowBrand">keyboard_arrow_up</md-icon>
	</md-list-item>

	<md-list-item ng-show="template.OpenBrand" ui-sref="menuTemplate.SKU">
		<span class="child" ng-class="{ Active: template.isActive('/SKU')}">All SKU</span>
    </md-list-item>

    <md-list-item ng-show="template.OpenBrand" ui-sref="menuTemplate.brands">
        <span class="child" ng-class="{ Active: template.isActive('/brands')}">All Brands</span>
    </md-list-item>

    <md-list-item ng-show="template.OpenBrand" ui-sref="menuTemplate.promotion">
        <span class="child" ng-class="{ Active: template.isActive('/promotion')}">All Promotions</span>
    </md-list-item>

    <md-list-item ng-click="template.Open('setting')">
        <md-icon class="md-default-theme" class="material-icons">face</md-icon>
        <p ng-class="{ Active: template.isActive('/TME')||template.isActive('/membership')}">Accounts & settings </p>
        <md-icon class="md-secondary arrow" ng-show="template.arrowSet">keyboard_arrow_right</md-icon>
        <md-icon class="md-secondary arrow" ng-hide="template.arrowSet">keyboard_arrow_up</md-icon>
    </md-list-item>

    <md-list-item ng-show="template.OpenSetting" ui-sref="menuTemplate.tmeViewTable">
        <span class="child" ng-class="{ Active: template.isActive('/TME')}">TME Setting</span>
    </md-list-item>

    <md-list-item ng-show="template.OpenSetting" ui-sref="menuTemplate.membership">
        <span class="child" ng-class="{ Active: template.isActive('/membership')}">Membership Setting</span>
    </md-list-item>

</md-list>

<!-- <div class="col-md-9"> -->
<div class="col-md-9" ui-view>

</div>
