  <div class="modal fade" id="points" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content modalmargin">

        <div class="modal-body">
<center><h4 style="color:#007AFF;">Edit Points</h4></center>
			<div class="row top">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-2">
						+/_ Amount
					</div>
					<div class="col-md-10">
						<input type="text"  class="form-control inputPop" >
					</div>
				</div>
			</div>

			<div class="row top">
				<div class="col-md-10 col-md-offset-1">
					<div class="col-md-2">Details</div>
					<div class="col-md-10">
						<input type="text"  class="form-control inputPop" >
					</div>
				</div>
			</div>

			<div class="row top">
				<div class="col-md-10 col-md-offset-1 ">
					<div class="col-md-6">
						<input type="button" class="btn btn-default btnPop"  data-dismiss="modal" style="width:100%; background-color:grey" value="Cancel">
					</div>
					<div class="col-md-6">
						<input type="button" class="btn btn-primary btnPop" style="width:100%" value="Apply">
					</div>
				</div>
			</div>

		</div>

      </div>
    </div>
  </div>
